.wrapper {
  display: flex;
}


.Side-bar {
  &__user-name {
  background-color: #253141;
  width: 300px;
  height: 100px;
  }
  &__group-list {
    background-color: #2f3e51;
    width: 300px;
    height: calc(100vh - 100px)
  }
}

.Chat-main {
  &__group-name {
    background-color: #ffffff;
    width: calc(100vw - 300px);
    height: 100px;
  }
  &__message-list {
    background-color: #fafafa;
    width: calc(100vw - 300px);
    height: calc(100vh - 100px - 90px);
  }
  &__message-form {
    background-color: #d2d2d2;
    width: calc(100vw - 300px);
    height: 90px;
  }
}